################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/GSLW/FileContentIndex/ab7692d3-de20-484a-a1cb-7b7ed55e7946.vsidx
/.vs/GSLW/FileContentIndex
